/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  width: 300px;
  height: 300px;
  display: inline;
}
